@model ForumDyskusyjne.Models.ContentModerationLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContentModerationLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetectedText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetectedText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannedWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannedWord.Word)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
