@model ForumDyskusyjne.Models.ForumPermission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ForumPermission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanRead)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanWrite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanWrite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowAnonymousView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowAnonymousView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowAnonymousPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowAnonymousPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forum.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
