@model IEnumerable<ForumDyskusyjne.Models.ForumPermission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CanRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanWrite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowAnonymousView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowAnonymousPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CanRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanWrite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowAnonymousView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowAnonymousPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forum.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
