@model ForumDyskusyjne.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvatarUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActivityAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActivityAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBanned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanExpiresAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanExpiresAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginAttempts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginAttempts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoLogoutMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoLogoutMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessagesPerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessagesPerPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadsPerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreadsPerPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentRank.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
